wh(size)
  height size
  max-height size
  min-height size
  width size
  min-width size
  max-width size

width(size)
  width size
  min-width size
  max-width size

height(size)
  height size
  max-height size
  min-height size

flex(direction, align, justify)
  display flex
  flex-direction direction
  align-items align
  justify-content justify
