//Green Theme
primary = #335C47
secondary = #6EAF8E
text = #070D0A
light = #BDDBCC
extralight = #F2F8F5
bg = white

//Orange theme
/*primary = #6F2E0C
secondary = #EB8147
text = #130802
light = #F5C0A3
extralight = #FDF2ED
bg = white*/

//Blue theme
/*primary = #034863
secondary = #25BDF8
text = #010E14
light = #88DBFB
extralight = #EBF9FE
bg = white*/

//Dark theme
/*primary = #D2D6DA
secondary = #9AA3AC
text = #F4F5F6
light = #40474F
extralight = #121416
bg = black*/

warning = #FFC857
danger = #E3170A
success = #71B340

font-primary = 'Merriweather', serif
font-secondary = 'Ubuntu', sans-serif

shadow-1 = 0 0 1px 0 rgba(121,127,140,0.08), 0 0.5px 2px 0 rgba(121,127,140,0.16);
shadow-2 = 0 0 2px 0 rgba(121,127,140,0.04), 0 4px 8px 0 rgba(121,127,140,0.16);

breakpoint-sm = 560px
breakpoint-md = 780px
breakpoint-lg = 1366px
